.main-section {

    display: grid;
    grid-template-areas:
        "image image aside"
        "new-title new-text aside";
    gap: 2rem;
    grid-template-columns: 1.4fr 1.3fr 1.5fr;

    .image {
        grid-area: image;
        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }
    }

    .main-new-title {
        grid-area: new-title;
    }

    .main-new-text {
        grid-area: new-text;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2rem;
    }

    .aside {
        grid-area: aside;
        display: grid;
        grid-template-rows: 0fr repeat(3, 1fr);
        align-items: center;


        a:hover,
        a:focus-visible{
            p{
                color: $clr-dark-grayish-blue;
            }
            h3{
                color: $clr-orange;
            }
        }
    }


}

@media only screen and (max-width: 55rem) {
    .main-section {

        grid-template-columns: 1fr;
        grid-template-areas: "image"
            "new-title"
            "new-text"
            "aside";

        .image {
            .desktop {
                display: block;
                margin-inline: auto;
            }

            .mobile {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 32rem) {
    .main-section {
        .image {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
                margin-inline: auto;
            }
        }
    }
}