.top-news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: start;
    gap: 2.5rem;
    line-height: 1.5;

    .card {
        display: grid;
        grid-template-areas:
            "image index"
            "image title"
            "image text";
        column-gap: 1rem;
        align-items: center;

        img {
            grid-area: image;
            width: 120px;
        }

        h2 {
            grid-area: index;
        }

        h3 {
            grid-area: title;
        }

        p {
            grid-area: text;
        }

        &:hover{
            box-shadow: 0 0 5px 1px $clr-transparent-orange;
            transform: scale(1.01);
            transition: all 0.02s ease;

            h3{
                color: $clr-red;
            }

            p{
                color: $clr-dark-grayish-blue;
            }
        }
    }
}