$clr-white: hsl(210, 100%, 98%);
$clr-orange: hsl(36, 81%, 62%);
$clr-red: hsl(5, 85%, 63%);
$clr-grayish-blue:hsl(240, 6%, 80%);
$clr-dark-grayish-blue:hsl(236, 13%, 42%);
$clr-dark-blue: hsl(240, 100%, 5%);

$fs-100: 0.938rem;
$fs-200: 1.125rem;
$fs-300: 1.5rem;
$fs-400: 2rem;
$fs-500: 3rem;

$size-50: 0.25rem;
$size-100: 0.75rem;
$size-200: 1.25rem;
$size-300: 2rem;
$size-400: 3rem;
$size-500: 5rem;

$fw-standard: 400;
$fw-bold: 700;
$fw-bolder: 800;