/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 2;
}
body h1, body h2, body h3 {
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav-wrapper li {
  margin-inline: 0.75rem;
}
.nav-wrapper .menu-icon {
  display: none;
}

.noScroll {
  overflow: hidden;
}

@media only screen and (max-width: 50rem) {
  .nav-wrapper .menu-icon {
    display: block;
  }
  .nav-wrapper .nav-links {
    box-shadow: 0 0 5px 1px hsl(236deg, 13%, 42%);
    z-index: 1;
    width: 0px;
    height: 100vh;
    position: fixed;
    background-color: hsl(210deg, 100%, 98%);
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
  }
  .nav-wrapper .nav-links.mobile-visible {
    width: 200px;
    padding: 1.25rem;
  }
  .nav-wrapper .nav-links img {
    margin-left: 125px;
  }
  .nav-wrapper .nav-links ul {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .nav-wrapper .menu-icon.open {
    display: block;
    cursor: pointer;
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0deg, 0%, 0%, 0.35);
  }
}
.main-section {
  display: grid;
  grid-template-areas: "image image aside" "new-title new-text aside";
  gap: 2rem;
  grid-template-columns: 1.4fr 1.3fr 1.5fr;
}
.main-section .image {
  grid-area: image;
}
.main-section .image .desktop {
  display: block;
}
.main-section .image .mobile {
  display: none;
}
.main-section .main-new-title {
  grid-area: new-title;
}
.main-section .main-new-text {
  grid-area: new-text;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
.main-section .aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 0fr repeat(3, 1fr);
  align-items: center;
}

@media only screen and (max-width: 55rem) {
  .main-section {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "new-title" "new-text" "aside";
  }
  .main-section .image .desktop {
    display: block;
    margin-inline: auto;
  }
  .main-section .image .mobile {
    display: none;
  }
}
@media only screen and (max-width: 32rem) {
  .main-section .image .desktop {
    display: none;
  }
  .main-section .image .mobile {
    display: block;
    margin-inline: auto;
  }
}
.top-news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: start;
  gap: 2.5rem;
  line-height: 1.5;
}
.top-news .card {
  display: grid;
  grid-template-areas: "image index" "image title" "image text";
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
}
.top-news .card img {
  grid-area: image;
  width: 120px;
}
.top-news .card h2 {
  grid-area: index;
}
.top-news .card h3 {
  grid-area: title;
}
.top-news .card p {
  grid-area: text;
}

@font-face {
  font-family: "Inter";
  src: url(./../assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("ttf");
}
a {
  color: hsl(236deg, 13%, 42%);
  text-decoration: none;
}
a:hover {
  color: hsl(5deg, 85%, 63%);
}

body {
  max-width: 1380px;
  margin-inline: auto;
  padding: 5rem;
  font-family: "Inter", Tahoma, sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  color: hsl(236deg, 13%, 42%);
  background-color: hsl(210deg, 100%, 98%);
}
body > * {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 50rem) {
  body {
    padding: 1.25rem;
  }
}
button {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  box-shadow: 0 0 4px 1px hsl(236deg, 13%, 42%);
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(210deg, 100%, 98%);
  padding: 0.75rem 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  white-space: nowrap;
}
button:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.aside {
  background-color: hsl(240deg, 100%, 5%);
  padding: 1.25rem;
}
.aside .aside-new {
  padding-block: 1.25rem;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.aside .aside-new:last-child {
  border: none;
}
.aside .aside-new-title {
  cursor: pointer;
  color: hsl(210deg, 100%, 98%);
}
.aside .aside-new-title:hover {
  color: hsl(36deg, 81%, 62%);
}

.main-header li {
  display: inline;
}

h1 {
  font-size: 3rem;
  color: hsl(240deg, 100%, 5%);
}

h2 {
  font-size: 2rem;
  color: hsl(36deg, 81%, 62%);
}
h2.index {
  color: hsl(240deg, 6%, 80%);
}

h3 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.top-new .new-title {
  color: hsl(240deg, 100%, 5%);
}
.top-new .new-title:hover {
  color: hsl(5deg, 85%, 63%);
}

footer {
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
}
footer a {
  color: hsl(5deg, 85%, 63%);
}/*# sourceMappingURL=style.css.map */